@model List<e_commerce.Mvc.ViewModels.ProductViewModel>

@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css"/>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Index</title>
</head>
<body>
    <div>         
        <table class="table">
            <thead class="bg-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Activated</th>
                </tr>                
            </thead>
            <tbody>
                @foreach (var produto in Model)
                {   
                <tr>
                    <td>@produto.Id</td>
                    <td>@produto.ProductName</td>
                    <td>@produto.Description</td>
                    <td>@produto.Activated</td>
                </tr>
                }                
            </tbody>
        </table>        
    </div>
</body>
</html>
